/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "open sans";
}

/* GENERAL */

.container-100 {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container-60 {
    width: 60%;
    margin: 0 auto;
}

.container-50 {
    padding: 40px 0;
    width: 50%;
    margin: 0 auto;
}

.row {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    display: flex;
    align-items: center;
}

.column-1-5 {
    width: calc(100% /5);
}

.column-2-5 {
    width: calc((100% /5) * 2);
}

.column-3-5 {
    width: calc((100% /5) * 3);
}

.column-30 {
    width: 30%;
}

p {
    font-size: 0.9rem;
}

img {
    width: 100%;
}

.blue-button {
    color: white;
    background-color: #1D61FF;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.button {
    cursor: pointer;
    color: white;
    background-color: #1D61FF;
    border-radius: 3px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
}

.button-white {
    color: black;
    background-color: white;
    border: solid 1px darkgray;
}

.button-white-no-border {
    color: black;
    background-color: white;
}

.bg-azzurro {
    background-color: #B4D0E7;
}

.bg-black {
    color: white;
    background-color: black;
}

/* HEADER TOP */

.list-header {
    list-style: none;
    display: flex;
    align-items: center;
}

.link-header {
    display: inline-block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header-top a {
    padding: 5px 15px;
}

/* HEADER BOTTOM */

h1 {
    padding-top: 40px;
    padding-left: 5px;
    font-size: 3.5rem;
    font-weight: bolder;
}

.header-bottom .column-2-5 {
    margin-top: 20px;
}

.header-bottom .column-2-5>* {
    margin-top: 20px;
}

.header-bottom .container-60 .column-2-5 i {
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 5px;
}

.header-bottom .column-3-5 {
    position: relative;
}

.header-bottom .column-3-5 img {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 40px;
}

/* MAIN */

main {
    padding: 80px 0;
}

/* SEZIONE INIZIALE CON RADIO BUTTON */
h2 {
    padding: 40px 0;
    font-size: 2rem;
}

.radio-button {
    display: inline-block;
    margin: 0px 30px 30px 0;
}

/* SEZIONE COLONNE */
.border-solid {
    border: solid 1px lightgrey;
    margin-bottom: 30px;
}

.plan-list-top {
    height: 210px;
}

/* titolo e info iniziali */
.plan-title {
    text-align: center;
    border-bottom: solid 1px lightgrey;
    padding: 10px 0;
}

.column-container {
    padding: 0 20px 20px 20px;
}

main i {
    font-size: 0.9rem;
}

/* titolo info */
.info-title>* {
    padding-bottom: 10px;
}

.info-title h3 {
    padding-top: 20px;
}

/* plan list top */
.plan-list-top ul li {
    padding-bottom: 20px;
}

/* bottone prova gratis */
.just-center {
    display: flex;
    justify-content: center;
}

/* sezione compra */
.link-buy a {
    color: blue;
    text-decoration: underline;
    padding-bottom: 40px;
}

.link-buy div {
    padding-bottom: 40px;
    border-bottom: solid 1px lightgrey;
    display: inline;
}

/* lista punti salienti */
.plan-list-bottom {
    padding-top: 20px;
    padding-bottom: 30px;
}

.plan-list-bottom h4 {
    padding-bottom: 20px;
}

.plan-list-bottom ul li {
    padding-bottom: 20px;
}

/* contatta l'ufficio vendite */
.contact-office {
    padding-top: 20px;
}

/* FOTO E TESTO */

.partner {
    padding-top: 40px;
}

.partner>* {
    margin-bottom: 30px;
}

/* OPERAZIONI */

.column-operation {
    padding-bottom: 50px;
}

/* QUADRATI */

.square-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
}

.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.square-1-4 {
    width: 50%;
    height: 50%;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* centrale */
.central-square {
    padding: 50px;
}

.central-square p {
    padding-top: 50px;
}

.central-client-logo {
    width: 50%;
    padding-bottom: 50px;
}

.central-square hr {
    border: solid 1px darkgrey;
    max-width: 20%;
}

/* quadratini */
.client-logo {
    width: 50%;
    filter: invert(100);
}

/* left */
.designit {
    background-color: #A2D39B;
}

.asu {
    background-color: #61082B;
}

.uf {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1D1C;
}

/* right */
.wbl {
    background-color: #D5161F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonelyplanet {
    background-color: #0D2481;
}

.cco {
    background-color: #FFD82F;
}

/* CTA */

.bordeaux {
    color: #61092D;
}

.align-baseline {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

/* .cta {
    margin-bottom: 40px;
} */

/* DOMANDE FREQUENTI */

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
}

.question i {
    padding: 0 20px;
}

/* FOOTER */

/* top */
.footer-link-title {
    padding-top: 50px;
    padding-bottom: 10px;
}

.link-footer {
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-bottom: 10px;
    font-weight: lighter;
    font-size: small;
}

.list-footer {
    list-style: none;
    padding: 10px 0;
}

.border-bottom {
    padding-bottom: 50px;
    border-bottom: solid 1px #99999A;
}

/* bottom */
.footer-language {
    color: #99999A;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.footer-language>* {
    font-size: small;
    padding-right: 10px;
}